@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
    font-family: 'Architects Daughter', cursive;
    background: rgb(252, 247, 237);
    height: 100vh;
}

.titulo {
    font-size: 90px;
    display: flex;
    justify-content: center;
}

.container {
    padding: 0px;
    background: white;
    margin-top: 20px;
    margin-bottom: 110px;
    width: 460px;
    border-top: solid 1px rgb(128, 128, 128, 0.6);
    border-right: solid 1px rgb(128, 128, 128, 0.6);
    border-left: solid 1px rgb(128, 128, 128, 0.6);
    border-bottom: solid 1px rgb(128, 128, 128, 0.6);
    box-shadow: 1px 1px 24px 3px rgba(235,230,235,1);
    display: block;
    border-radius: 5px;
}

.form {
    width: 100%;
    padding: 15px 15px 15px 15px;
}

.form input{
    width: 100%;
    border: none;
}

.form input:focus {
    border: none;
    outline: none;
} 

.row {
    border-top: solid 1px rgb(128, 128, 128, 0.3);
    padding: 15px 15px 15px 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.row {
    color: white;
}

.row:hover {
    color: gray;
}

.textlist {
    margin-bottom: 0px;
    padding-left: 0px;
    color: black;
}

.textlist:hover {
    margin-bottom: 0px;
    padding-left: 0px;
    color: black;
}

.button {
    display: flex;
    float: right;
    border: 0px;
    background: none;
    margin-bottom: 0px;
    display: block;
}

.button:hover {
    display: flex;
    float: right;
    border: 0px;
    background: none;
    margin-bottom: 0px;
    display: block;
    color: black;
}

.button:focus {
    border: none;
    outline: none;
} 
